.previewContainer {
  width: 100%;
  position: relative;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-top: solid black 3px;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: "sans-serif";
}

.previewWord {
  display: inline-block;
  padding-right: 8px;
}

.sendButton {
  width: 200px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
