.message {
  display: inline-block;
  height: auto;
  max-width: 45%;
  line-height: 0;
  margin-bottom: 1rem;
}

.rightMessage {
  border-radius: 20px 20px 3px 20px;
  margin-left: auto;
}

.leftMessage {
  border-radius: 20px 20px 20px 3px;
  margin-right: auto;
}
