.appContainer {
  min-height: 100%;
}

.messageInterface {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-columns: [start] 70% [second] 30% [end];
  grid-template-rows: [start] 80% [second] 20% [end];
}

.editorContainer {
  min-height: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.inputContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inputContainer:last-child {
  flex-grow: 1;
}

.submitButton {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1.3rem;
  overflow: hidden;
}
