.appContainer {
  min-width: 100%;
  min-height: 100%;
}

.messageInterface {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [start] 70% [second] 30% [end];
  grid-template-rows: [start] 90% [second] 10% [end];
}

.messageInputContainer {
  position: relative;
  border: solid black 1px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.messageInput {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  border: 0;
  margin: 0;
  font-size: 1.2rem;
}

.submitButton {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1.3rem;
  overflow: hidden;
}
